/* En todos los html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:"Cambria";
}

body {
    background: url('../imagenes/textura.jpg');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
}

.header {
    background: url('../imagenes/nav.png');
    display: flex;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    padding: 0 2%;
    top: 0;
    z-index: 100;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover{
   color: #D6A022;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #000000;
    color: #D6A022;
    transform: scale(1.1);
}


/* Inicio */

.contenedor-inicio{
    display: flex;
    background: radial-gradient(rgb(67, 8, 8), black ) no-repeat;
    width: 1200px;
    border:double 20px #D6A022;
    justify-content: space-between;
}

.contenedor-tabla {
  display: flex;  
  width: 150px;
  overflow: hidden;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 40px;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    border-top: 2px solid #D6A022;
    border-left: 2px solid #D6A022;
    border-right: 2px solid #D6A022;
    margin-bottom: 20px;
}

thead {
    background-color: #000000;
}

th {
    color: white;
    font-size: 12px;
    padding: 4px 0;
    border-bottom: 2px solid #D6A022;
}

tbody {
    text-align: center;
    cursor: pointer;
}

td {
    color: white;
    font-size: 10px;
    padding: 6px 0;
    border-bottom: 2px solid #D6A022;
}

tbody tr:active {
    background-color: darkred;
}

.titulo-tabla h2{
    color:#D6A022;
    font-size: 20px;
    text-align: center;
    margin-bottom: 4px;
}

.imagen-inicio {
    display: flex;
    width: 500px;
    margin-top: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.imagen-inicio .carrusel {
    width: 100%;
    height: 281px;
    border: 2px solid #D6A022;

}

.contenedor-online {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.caja-o {
    display: flex;
    width: 150px;
    height: 40px;
    background: #D6A022;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    align-self: center;
    margin-right: 50px;
}

.circulo-padre {
    display: flex;
    width: 16px;
    height: 16px;
    background: rgb(0, 0, 0);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.circulo-hijo {
    width: 6px;
    height: 6px;
    background: green;
    border-radius: 100%;
}

.caja-o h2 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.caja-tesoro {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 40px;
    margin-right: 50px;
}

.caja-tesoro h2{
    font-size: 14px;
    color: white;
}

.caja-tesoro img {
    width: 90px;
}

.social-bar {
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
}

.box-facebook {
    width: 40px;
    height: 40px;
    background-color: rgba(25,118,210,255);
    transition: all 1s ease;
}

.box-facebook img {
    width: 40px;
    background-color: rgba(25,118,210,255);
}

.box-facebook:hover{
    padding-right: 100px;
}

.box-twitter {
    width: 40px;
    height: 40px;
    background-color: rgba(3,169,244,255);
    transition: all 1s ease;
}

.box-twitter img {
    width: 40px;
    background-color: rgba(3,169,244,255);
}

.box-twitter:hover {
    padding-right: 100px;
}

.box-youtube {
    width: 40px;
    height: 40px;
    background-color: rgba(255,0,0,255);
    transition: all 1s ease;
}

.box-youtube img {
    width: 40px;
    background-color: rgba(255,0,0,255); 
}

.box-youtube:hover {
    padding-right: 100px;
}

.box-twitch {
    width: 40px;
    height: 40px;
    background-color: rgba(100,65,165,255);
    transition: all 1s ease;
}

.box-twitch img {
    width: 40px;
    background-color: rgba(100,65,165,255)
}

.box-twitch:hover {
    padding-right: 100px;
}

.social-box {
    margin-bottom: 10px;
}

.news {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.titulo-noticias h2 {
    color: #D6A022;
    border-bottom: 2px solid white;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 40px;
}

.padre-evento {
    display: flex;
    width: 500px;
    height: 300px;
    border: 2px dashed rgb(87, 87, 87);
    align-items: center;
    margin-top: 20px;
}

.padre-evento a{
 text-decoration: none;
}

.box-event {
    display: flex;
    width: 150px;
    height: 200px;
    background-color: rgb(41, 25, 0);
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
}

.fecha-noticia {
    display: flex;
    width: 140px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
}

.general {
    font-size: 14px;
    color: gray;
}

.fecha {
    font-size: 10px;
    color: gray;
}

.cartelera {
    width: 140px;
    height: 54px;
    background-color: #000000;
    border: 1px solid #D6A022;
    margin-top: 5px;
}

.img-noticia {
    width: 100%;
}

.contenido-noticia {
    display: flex;
    width: 140px;
    height: 110px;
    flex-direction: column;
    text-align:start;
    margin-top: 4px;
}

.contenido-noticia h3 {
    color: #D6A022;
    font-size: 15px;
}

.contenido-noticia p {
    font-size: 12px;
    color: white;
}

.h3-noticia {
    margin-bottom: 6px;
}

footer {
    display: flex;
    width: 500px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box-footer {
   display: flex;
   width: 250px;
   height: 50px;
   align-items: center;
}

.box-footer img {
    width: 200px;
}

footer h2 {
    font-size: 20px;
}
/*Información*/

.contenido{
    display: flex;
    justify-content:center;
    background: radial-gradient(rgb(67, 8, 8), black ) no-repeat;
    width: 1000px;
    border:double 20px #D6A022;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 25px;
    color: grey;
}

.info{  
   line-height: 40px;
   border-top: solid white;
   margin: 0 200px;
}

.caja-comandos{
    margin-bottom: 10px;
    border-bottom: solid white;
}
 
.contenido-hijo{
    color: rgb(166, 194, 10);
}
 
.all-list {
    list-style: none;
}

.all-list::before {
    content: "\2B50";
}

/* Descargas */

.contenedor-descargas {
    display: flex;
    background: radial-gradient(rgb(67, 8, 8), black ) no-repeat;
    width: 1000px;
    height: 1000px;
    border:double 20px #D6A022;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.box-one {
    display: flex;
    width: 400px;
    height: 80px;
    background-color: black;
    border: 3px solid #D6A022;
    margin-top: 20px;
}

.box-two {
    display: flex;
    width: 400px;
    height: 80px;
    background-color: black;
    border: 3px solid #D6A022;
    margin-top: 20px;
    justify-content: center;
}

.box-three {
    display: flex;
    width: 400px;
    height: 80px;
    background-color: black;
    border: 3px solid #D6A022;
    margin-top: 20px;
    justify-content: center;
}

.box-image .img {
    width: 100%;
    align-self: center;
}

.box-image .mega {
    width: 190px;
}

.box-image .g-drive {
    width: 300px;
}

.box-image:hover {
    background-color: #D6A022;
}

.contenedor-descargas h1 {
    margin-top: 20px;
    border-bottom: 4px solid white;
}

.contenedor-descargas h2 {
    margin-top: 40px;
}

 /* Formulario de contacto  */

.contenedor-formulario {
    display: flex;
    width: 500px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    border: 2px dashed gray;
 }

textarea {
    font-size: 10px;
    width: 250px;
    height: 80px;
    max-width: 250px;
    max-height: 80px;
    min-width: 250px;
    min-height: 80px;
    outline: none;
    padding: 2px 2px;
    border: 2px #D6A022 solid;
}

.contenedor-formulario input {
  border-radius: 3px;
  font-size: 10px;
  padding: 8px 2px;
  border-style: none;
  border: solid 2px #D6A022;
  outline: none;
  margin-bottom: 5px;
  width: 200px;
}

.contenedor-formulario h2 {
    margin-right: 50px;
    color: #D6A022;
}

.boton-enviar {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.boton-enviar:hover {
 background-color: #D6A022;
}
