* {
    padding: 0;
    margin: 0;
}

body {
    
    background: url('../imagenes/fondo.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 20px;
    
}

header{
   background-color: rgba(51, 8, 243, 0.171);
   padding-top: 30px;
   padding-bottom: 20px;
   display: flex;
   /*justify-content:flex-end*/
   justify-content: flex-end;
}

section {
    padding: 0px 5px;

}
header nav a {
    padding: 10px 10px;
    margin: 5px;
    text-decoration: none; 
    color: white;
}

.input_buscador {
    height: 20px;
    margin-bottom: 5px;
}

.input_submit {
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    
}

.nav{
    font-size: 20px;
}
.nav:hover {

    background-color: black;
}

.nav:active {
    color: orange;
    text-decoration: underline;
}

.btn {
    background-color: brown;
    text-decoration: none;
    font-size: 20px;
    color:white;
    padding: 15px 20px;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;

}

.btn:hover {
    opacity: .8;
}

.small {
    font-size: 14px;
    padding: 10px 15px;

}

.medium {
    font-size: 16px;
    padding: 15px 20px;

}

.big {
    font-size: 18px;
    padding: 20px 25px;
}

.extra-big {
    font-size: 20px;
    padding: 25px 30px;

}

.azul {
    background-color: rgb(10, 218, 255);

}

.verde {
    background-color: green;
}

.naranja {
    background-color: orange;
}

.border-radius {
    border-radius: 30px;
}
/*
h1 {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: underline;
    background: rgba(255, 0, 170, 0.219);
    text-transform: capitalize;
    
}
*/
