* {
    margin: 0;
    padding: 0;
}

body {
   
    background: url('../imagenes/fondoinicio.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.img-logo {
    width: 250px;
    margin-left: 140%;
    margin-top: 5%;
}

.caja-padre {
    width: 840px;
    height: 500px;
    display:flex;
    position: absolute;
    justify-content: center;
    margin-top: 114px;
    
    
}


.imagen-hijo {
    width: 99.1%;
   
}

.boton-padre {
    margin-top: 665px;
    margin-right: 10px;
}

.boton-padre1 {
    margin-top: 665px;
    margin-right: 290px;
    position: relative;

    
}

.boton-padre:hover {
    opacity: .8;
}

