* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../imagenes/fondoinicio.png');
    background-color: #000000;
    background-position: top;
    background-repeat: no-repeat;   
    
}



section .boton-1{  
      width: 330px;
      position: relative;
      top: 157px;
      left: 600px;
      overflow: hidden;
      
}

section .boton-2 {
    width: 330px;
    position: relative;
    top: 100px;
    left: 1000px;
    overflow: hidden;
}

.boton-1:hover {
    opacity: .8;
}

.boton-2:hover {
    opacity: .8;
}


.imagen-principal {
    max-width: 100%;
    width: 825px;
    position: relative;
    left: 548px;
    top: 115px;
    border-radius: 20px;
    
}